.neon-text-flicker {
  animation: flicker-2 1.5s infinite alternate;
  color: #fff;
}

.neon-text{text-shadow:var(--glow); }

/* Define CSS variables in a plain CSS block for compatibility */
:root {
  --glow: 0 0 4px #fff,
	0 0 19px #fff,
	0 0 40px #0fa,
	0 0 90px #0fa,
	0 0 150px #0fa;
}

/* Flickering animation */
@keyframes flicker { 
  0%, 18%, 22%, 25%, 53%, 57%, 100% { text-shadow:var(--glow); }
  20%, 24%, 55% { text-shadow: none; }    
}

@keyframes flicker-1 {
  0%, 98%, 100% { text-shadow:var(--glow); }
  99% {  text-shadow: none; }
}

@keyframes flicker-2 {
  0%, 97%, 100% { text-shadow: var(--glow); }
  97.5%, 98.5%, 99.5% { text-shadow: none; }
}

// cursor
html.use-custom-cursor .cursor{
    opacity:1;
}

.custom-cursor{
    cursor:none;
}

.cursor {
  opacity:0;
  position: fixed;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}