$spacings: 0, 5, 10, 20, 30, 40, 50, 80, 100;
$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

@each $abbr, $dir in $directions {
  @each $space in $spacings {
    .m#{$abbr}-#{$space} {
      margin-#{$dir}: #{$space}px;
    }
  }
}

.margin-0-auto{
  margin: 0 auto;
}