@import url(arrows/arrows-embedded.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: inherit;
  font: inherit;
  vertical-align: baseline; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  cursor: default; }

input[type='text'] {
  cursor: text; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
@media screen and (min-width: $screen-xs-min) { 
	.testClass{}
}
*/
html {
  font-size: 14px;
  font-family: Frutiger_CE_55_Roman, sans-serif;
  width: 100%;
  height: 100% !important;
  overflow: hidden; }

body {
  background-color: #111;
  height: 100%; }

#menu-block {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 340px;
  height: 340px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  transition: cubic-bezier(0.16, 0.75, 0.26, 0.9) 0.4s;
  z-index: 10;
  color: #eeeeee;
  opacity: 0;
  box-shadow: 0px 0px 5px #000;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px; }
  #menu-block:hover {
    opacity: 1;
    transition: cubic-bezier(0.16, 0.75, 0.26, 0.9) 0.4s; }
  @media screen and (max-width: 768px) {
    #menu-block {
      background: rgba(0, 0, 0, 0.9);
      width: 100%;
      height: 100%;
      left: 0%;
      bottom: 0%;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s linear 0.2s,opacity 0.2s linear; } }
  #menu-block input[type='button'] {
    height: 35px;
    width: 150px;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    outline: none; }
    #menu-block input[type='button']:hover {
      background: rgba(255, 255, 255, 0.2); }
  #menu-block label.with-checkbox {
    width: 100%;
    display: block;
    margin-bottom: 5px;
    cursor: pointer; }
    #menu-block label.with-checkbox:after {
      content: " ";
      visibility: hidden;
      display: block;
      height: 0;
      clear: both;
      width: 100%; }
    #menu-block label.with-checkbox input[type='checkbox'] {
      width: 16px;
      height: 16px;
      margin: 0px;
      float: left;
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox; }
    #menu-block label.with-checkbox span {
      float: left;
      margin-left: 5px; }
      #menu-block label.with-checkbox span.bk {
        display: none; }
  #menu-block div.inline label.with-checkbox {
    display: inline-block;
    width: 50px;
    height: 50px;
    float: left;
    overflow: hidden;
    margin-right: 8px; }
    #menu-block div.inline label.with-checkbox input {
      display: none; }
    #menu-block div.inline label.with-checkbox span {
      display: none; }
    #menu-block div.inline label.with-checkbox input ~ span.bk {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0px;
      background-image: url(images/menu-icons-sprite.jpg);
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      cursor: pointer; }
    #menu-block div.inline label.with-checkbox input[value="bk1"] ~ span.bk {
      background-position: -50px 0; }
    #menu-block div.inline label.with-checkbox input[value="bk2"] ~ span.bk {
      background-position: 0 0; }
    #menu-block div.inline label.with-checkbox input[value="bk3"] ~ span.bk {
      background-position: -150px 0; }
    #menu-block div.inline label.with-checkbox input[value="bk4"] ~ span.bk {
      background-position: -100px 0; }
    #menu-block div.inline label.with-checkbox input[value="skin1"] ~ span.bk {
      background-position: 0 -50px; }
    #menu-block div.inline label.with-checkbox input[value="skin2"] ~ span.bk {
      background-position: -50px -50px; }
    #menu-block div.inline label.with-checkbox input:checked ~ span.bk {
      display: block;
      width: 100%;
      height: 100%;
      border: 2px solid #ffffff; }
  #menu-block input[type="radio"] {
    height: 16px;
    width: 16px;
    margin: 0px;
    float: left; }

#menu-block-btn {
  height: 64px;
  width: 64px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 20;
  background: rgba(0, 0, 0, 0.8);
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px; }
  @media screen and (min-width: 768px) {
    #menu-block-btn {
      display: none; } }

input#menu-block-checkbox:checked + div#menu-block {
  transition: visibility 0s linear 0.2s,opacity 0.2s linear;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

body div.bk {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; }
  @media screen and (max-width: 399px) {
    body div.bk {
      display: none !important; } }

body div.bk.bk1 {
  background: url("images/bk4-color.jpg") no-repeat center bottom fixed; }

body div.bk.bk2 {
  background: url("images/bk3.jpg") no-repeat center bottom fixed; }

body div.bk.bk3 {
  background: url("images/bk5-starhub.jpg") no-repeat center bottom fixed; }
  body div.bk.bk3 div {
    background: url("images/StarHub-logo.png");
    position: absolute;
    top: 100px;
    left: 100px;
    height: 80px;
    width: 362px; }

body div.bk.bk4 {
  background: url("images/bk6-o2.jpg") no-repeat left top fixed; }

#HEADER div.hd {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none; }

#HEADER div.hd.bk1 {
  background: url("images/hd4-color.jpg") no-repeat center top; }

#HEADER div.hd.bk2 {
  background: url("images/hd3.jpg") no-repeat center top; }

#HEADER div.hd.bk3 {
  background: #62A50C;
  background: #89AACB; }
  #HEADER div.hd.bk3 div.logo {
    background: url("images/StarHub-logo.png");
    position: absolute;
    top: 60px;
    left: 20px;
    height: 60px;
    width: 271px;
    background-size: auto 60px; }

#HEADER div.hd.bk4 {
  background: url("images/hd6-o2.jpg") no-repeat center top; }

html {
  background-attachment: fixed;
  overflow: auto; }

#mock-client-content {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  height: 600px;
  opacity: 0.5; }
  #mock-client-content .header {
    float: left;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 10px;
    background: #fff; }
  #mock-client-content .sidebar {
    float: left;
    width: 20%;
    height: 600px;
    border-radius: 8px;
    background: #fff; }
  #mock-client-content .content {
    float: left;
    margin-left: 2%;
    width: 78%;
    height: 1000px;
    border-radius: 8px;
    background: #fff; }
  #mock-client-content .footer {
    float: left;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    background: #fff;
    margin-top: 10px; }

.background-highlight {
  width: 99.4%;
  height: 99%;
  position: absolute;
  right: 0.3%;
  top: 0.5%;
  border: 4px dashed #eeeeee;
  border-radius: 30px; }

.anno {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  transition-delay: 0s;
  font-size: 1em;
  line-height: 1.4em; }
  @media screen and (max-width: 1199px) {
    .anno {
      display: none; } }

.smooth-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear; }

.background-annotation {
  position: absolute;
  width: 550px;
  left: 50px;
  top: 35px;
  color: #eeeeee;
  font-family: Frutiger_CE_55_Roman, sans-serif;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 16px; }
  .background-annotation:before {
    width: 100%;
    height: 50px;
    text-align: left;
    line-height: 50px;
    font-size: 50px;
    float: left; }
  .background-annotation div {
    float: left; }
  .background-annotation label[for="hide-annotation"] {
    cursor: pointer; }
    .background-annotation label[for="hide-annotation"]:hover {
      text-decoration: underline; }

.product-annotation {
  position: absolute;
  width: 550px;
  right: 380px;
  right: calc(2% + 360px);
  bottom: 20px;
  color: #eeeeee;
  font-family: Frutiger_CE_55_Roman, sans-serif;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 16px; }
  .product-annotation:before {
    width: 100%;
    height: 50px;
    text-align: right;
    line-height: 50px;
    font-size: 50px;
    float: right; }
  .product-annotation div {
    float: left; }

.menu-block-highlight {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 360px;
  height: 360px;
  border: 4px dashed white;
  border-radius: 24px;
  color: #ffffff; }
  .menu-block-highlight div {
    position: absolute;
    top: 150px;
    width: 100%;
    text-align: center;
    font-family: Frutiger_LT_75_Black, sans-serif;
    font-size: 2em;
    line-height: 2em;
    text-shadow: black 0px 0px 12px, black 0px 0px 5px; }

.lines-button {
  margin: 0;
  border: none;
  background: none;
  border: 2px solid black; }

/* ====================== lines button ==================================================*/
.lines-button {
  padding: 23px 5px;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  /* */ }

.lines-button:hover {
  opacity: 1; }

.lines-button:active {
  transition: 0; }

.lines {
  display: inline-block;
  width: 50px;
  height: 8px;
  background: #bbbbbb;
  border-radius: 2px;
  transition: 0.2s;
  position: relative; }

.lines:before, .lines:after {
  display: inline-block;
  width: 50px;
  height: 8px;
  background: #bbbbbb;
  border-radius: 2px;
  transition: 0.2s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 2px center;
  transform-origin: 2px center; }

.lines:before {
  top: 1rem; }

.lines:after {
  top: -1rem; }

.lines-button:hover .lines:before,
.lines-button:hover .lines:after,
.lines-button:hover .lines {
  background: #eeeeee;
  transition: 0.2s; }

.lines-button.close {
  border: 2px solid #bbbbbb; }

.lines-button.x.close .lines {
  background: transparent; }

.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 50px; }

.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }

.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

.lines-button.x2 .lines {
  transition: background 0.3s 0.5s ease; }

.lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s 0.6s ease, transform 0.3s ease; }

.lines-button.x2.close .lines {
  transition: background 0.3s 0s ease;
  background: transparent; }

.lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
  transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;
  transition: top 0.3s ease, transform 0.3s 0.5s ease;
  top: 0;
  width: 4rem; }

.lines-button.x2.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg); }

.lines-button.x2.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg); }

.tooltipstered:hover {
  cursor: default !important;
  opacity: 0.5; }

.main-scroll-container-shadow[data-skin] {
  position: absolute;
  width: 340px;
  height: 92%;
  max-height: 800px;
  top: 5%;
  right: 2%;
  background: rgba(255, 255, 255, 0.96);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  box-sizing: content-box; }
  .main-scroll-container-shadow[data-skin]:before {
    content: " ";
    z-index: 10;
    height: 30px;
    width: 100%;
    background-image: url("images/gradient.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    border-radius: 12px; }
  .main-scroll-container-shadow[data-skin]:after {
    z-index: 10;
    content: " ";
    height: 30px;
    width: 100%;
    background-image: url("images/gradient.png");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    border-radius: 12px; }
  @media screen and (max-width: 399px) {
    .main-scroll-container-shadow[data-skin] {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .main-scroll-container-shadow[data-skin]:before {
        display: none; }
      .main-scroll-container-shadow[data-skin]:after {
        display: none; } }

.main-scroll-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-overflow-scrolling: touch; }
  @media screen and (max-width: 399px) {
    .main-scroll-container {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; } }

.main-container {
  width: 100%; }
  .main-container div#HEADER,
  .main-container div#CONTENT,
  .main-container div.content,
  .main-container div#FOOTER {
    float: left;
    width: 100%; }
  .main-container div#HEADER {
    height: 160px;
    background: #333333;
    position: relative; }
    .main-container div#HEADER div.powered {
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 26px;
      padding-right: 15px;
      line-height: 26px;
      font-size: 12px;
      text-align: right;
      background: black;
      opacity: .9;
      color: #dddddd;
      font-family: Frutiger_LT_75_Black, sans-serif;
      font-family: Frutiger_CE_55_Roman, sans-serif; }
    .main-container div#HEADER h3 {
      width: 100%;
      float: left;
      margin-top: 50px;
      text-align: center;
      font-size: 1.8em;
      color: #ffffff;
      font-family: Frutiger_LT_75_Black, sans-serif;
      opacity: 0.7;
      text-shadow: black 0px 0px 12px, black 0px 0px 5px; }
  .main-container div#CONTENT,
  .main-container div.content {
    padding: 0 25px; }
  .main-container div#FOOTER {
    height: 150px;
    background: #333333;
    border-top: 20px solid #666666; }
  @media screen and (min-width: 400px) {
    .main-container div#HEADER,
    .main-container div#FOOTER {
      display: none; } }
  .main-container .gp-box {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    color: #666666; }
    .main-container .gp-box label.for-input {
      float: left;
      width: 100%;
      font-size: 0.9em;
      line-height: 1.2em;
      font-family: Frutiger_CE_65_Bold, sans-serif; }
    .main-container .gp-box label.optional:after {
      content: "optional";
      float: right;
      position: relative;
      top: 22px;
      right: 5px;
      font-size: 0.9em; }
    .main-container .gp-box input[type='button'] {
      float: left;
      height: 40px;
      border-radius: 12px;
      border: 0px solid #666666;
      padding: 0;
      font-family: Frutiger_CE_55_Roman, sans-serif;
      cursor: pointer; }
      .main-container .gp-box input[type='button']:focus {
        outline: none; }
    .main-container .gp-box input[type='button'].primary {
      background: #ff6448;
      background: -webkit-linear-gradient(top, #e85c33 0, #e53a2b 100%);
      background: linear-gradient(to bottom, #e85c33 0, #e53a2b 100%);
      color: #ffffff; }
      .main-container .gp-box input[type='button'].primary:hover {
        background: #ff8f7b; }
    .main-container .gp-box input[type='button'].secondary {
      background: gray;
      color: #ffffff; }
      .main-container .gp-box input[type='button'].secondary:hover {
        background: #999999; }
  .main-container input[type='text'],
  .main-container select {
    float: left;
    width: 100%;
    font-family: Frutiger_CE_55_Roman, sans-serif;
    font-size: 1em;
    line-height: 30px;
    height: 30px;
    background-color: #cccccc;
    border: none;
    padding: 0 10px;
    color: #333333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
    .main-container input[type='text']:focus,
    .main-container select:focus {
      outline: none;
      -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15); }
    .main-container input[type='text'] option,
    .main-container select option {
      background-color: #e6e6e6; }
  .main-container .readonly-input,
  .main-container input[type="text"]:disabled {
    float: left !important;
    width: 100% !important;
    font-size: 1.1em !important;
    line-height: 30px !important;
    height: 28px !important;
    margin-bottom: 2px !important;
    font-family: Frutiger_LT_75_Black, sans-serif !important;
    color: #666666 !important;
    background: none !important;
    padding: 0 !important;
    border-bottom: 1px dashed #666666;
    pointer-events: none; }
  .main-container .col-2 {
    width: 50%;
    float: left; }
  .main-container .col-2-gutter {
    float: left;
    width: 45%; }
  .main-container .col-2-gutter + .col-2-gutter {
    float: left;
    margin-left: 10%;
    width: 45%; }
  .main-container .col-2-gutter-small {
    float: left;
    width: 48%; }
  .main-container .col-2-gutter-small + .col-2-gutter-small {
    float: left;
    margin-left: 4%;
    width: 48%; }

div.content section {
  width: 100%;
  float: left;
  margin-bottom: 2em; }
  div.content section h3 {
    width: 100%;
    float: left;
    font-size: 1.8em;
    color: #666666;
    margin: 1.5em 0 0.5em 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #666666;
    font-family: Frutiger_LT_75_Black, sans-serif; }
  div.content section p {
    width: 100%;
    float: left;
    margin-bottom: 0.8em;
    color: #666666;
    font-family: Frutiger_CE_55_Roman, sans-serif;
    text-align: justify; }

input[type="radio"][data-selector="paytabs"] {
  position: absolute;
  top: -9999px;
  left: -9999px; }
  input[type="radio"][data-selector="paytabs"]:checked + label {
    border-color: #ff6448; }

label[data-tab] {
  font-family: Frutiger_CE_65_Bold, sans-serif;
  font-size: 1em;
  color: #666666;
  padding: 5px 0;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
  position: relative;
  border-bottom: 5px solid #dddddd;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */ }

.tab-content {
  margin-top: 5px;
  width: 100%;
  float: left; }

.validated input[type='text']:not(.optional):not([disabled]),
.validated select.canbe-invalid {
  border-right: 12px solid #ff6448;
  padding-right: 12px; }

div.content section p.validation-text {
  display: none;
  color: #ff6448;
  font-family: Frutiger_CE_65_Bold, sans-serif;
  font-size: 12px; }
  div.content section p.validation-text:last-of-type {
    margin-bottom: 15px; }

.validated div.content section p.validation-text {
  display: initial; }

.validated div.content section.section-readonly p.validation-text {
  display: none; }

/*////////////////////////////////////// CHECKBOXES  //////////////////////////////////////*/
.gp-box.checkbox a {
  text-decoration: none;
  font-family: Frutiger_CE_65_Bold, sans-serif;
  font-family: Frutiger_LT_75_Black, sans-serif; }
  .gp-box.checkbox a:hover {
    text-decoration: underline; }
.gp-box.checkbox input ~ label {
  display: block;
  position: relative;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  padding: 0 0 0 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer; }
  .gp-box.checkbox input ~ label:after {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 2px;
    text-align: left;
    width: 22px;
    height: 22px;
    content: '';
    background: #ddd;
    -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
    -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
    border-radius: 2.5px 2.5px 2.5px 2.5px; }
.gp-box.checkbox input:checked ~ label:after {
  background-position: 50% 50%;
  color: white;
  cursor: pointer;
  display: block;
  content: '';
  background: #666666 url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E") no-repeat scroll 50% 50%;
  -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
  -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
  border-radius: 2.5px 2.5px 2.5px 2.5px; }

/*////////////////////////////////////// TRANSACTION SUMMARY  //////////////////////////////////////*/
.gp-box-checkout {
  width: 100%;
  margin-bottom: 15px; }
  .gp-box-checkout + hr {
    border: none;
    width: 100%;
    float: right;
    border-top: 1px dashed #666666; }

div.product {
  line-height: 1.4em;
  width: 70%;
  float: left; }

div.product + div.price {
  line-height: 1.4em;
  width: 30%;
  float: right;
  text-align: right;
  font-family: Frutiger_LT_75_Black, sans-serif; }

.gp-box-checkout div.total {
  float: right;
  width: 100%;
  line-height: 2em;
  text-align: right;
  font-family: Frutiger_LT_75_Black, sans-serif; }

.tooltipstered:hover {
  cursor: default !important;
  opacity: 0.5; }

.main-scroll-container-shadow[data-skin='skin2'] {
  background: rgba(255, 255, 255, 0.96);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  box-shadow: 0px 0px 20px #000;
  box-sizing: content-box;
  font-size: 12px;
  line-height: 14px;
  font-family: OpenSans_Regular, sans-serif;
  /*////////////////////////////////////// CHECKBOXES  //////////////////////////////////////*/
  /*////////////////////////////////////// TRANSACTION SUMMARY  //////////////////////////////////////*/ }
  .main-scroll-container-shadow[data-skin='skin2']:before {
    content: " ";
    z-index: 10;
    height: 20px;
    width: 100%;
    background-image: url("images/gradient.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    border-radius: 10px; }
  .main-scroll-container-shadow[data-skin='skin2']:after {
    z-index: 10;
    content: " ";
    height: 20px;
    width: 100%;
    background-image: url("images/gradient.png");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    border-radius: 10px; }
  @media screen and (max-width: 399px) {
    .main-scroll-container-shadow[data-skin='skin2'] {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100%;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .main-scroll-container-shadow[data-skin='skin2']:before {
        display: none; }
      .main-scroll-container-shadow[data-skin='skin2']:after {
        display: none; } }
  .main-scroll-container-shadow[data-skin='skin2'] .main-scroll-container {
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px; }
    @media screen and (max-width: 399px) {
      .main-scroll-container-shadow[data-skin='skin2'] .main-scroll-container {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; } }
  .main-scroll-container-shadow[data-skin='skin2'] .main-container {
    width: 100%; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div#HEADER,
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div#CONTENT,
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div.content,
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div#FOOTER {
      float: left;
      width: 100%; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div#HEADER {
      height: 160px;
      background: #333333;
      position: relative; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container div#HEADER div.powered {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 26px;
        padding-right: 15px;
        line-height: 26px;
        font-size: 12px;
        text-align: right;
        background: black;
        opacity: .9;
        color: #dddddd;
        font-family: Frutiger_LT_75_Black, sans-serif;
        font-family: Frutiger_CE_55_Roman, sans-serif; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container div#HEADER h3 {
        width: 100%;
        float: left;
        margin-top: 50px;
        text-align: center;
        font-size: 1.8em;
        color: #ffffff;
        font-family: Frutiger_LT_75_Black, sans-serif;
        opacity: 0.7;
        text-shadow: black 0px 0px 12px, black 0px 0px 5px; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div#CONTENT,
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div.content {
      padding: 15px 30px; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container div#FOOTER {
      height: 150px;
      background: #333333;
      border-top: 20px solid #666666; }
    @media screen and (min-width: 400px) {
      .main-scroll-container-shadow[data-skin='skin2'] .main-container div#HEADER,
      .main-scroll-container-shadow[data-skin='skin2'] .main-container div#FOOTER {
        display: none; } }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box {
      float: left;
      width: 100%;
      margin-bottom: 10px;
      color: #333333; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box label.for-input {
        float: left;
        width: 100%;
        font-size: 0.9em;
        line-height: 1.2em;
        font-family: OpenSans_Regular, sans-serif;
        color: #333333; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box label.optional:after {
        content: "optional";
        float: right;
        position: relative;
        top: 22px;
        right: 5px;
        font-size: 0.9em; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button'] {
        float: left;
        height: 30px;
        border-radius: 0px;
        padding: 0;
        font-family: OpenSans_Regular, sans-serif;
        cursor: pointer;
        color: #2C304D;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
        .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button']:hover {
          -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(0, 0, 0, 0.25);
          -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 3px rgba(0, 0, 0, 0.25);
          text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); }
        @media screen and (max-width: 399px) {
          .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button'] {
            height: 40px; } }
        .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button']:focus {
          outline: none; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button'].primary {
        background: #2EB418;
        border: 2px solid #2EB418;
        color: #ffffff; }
        .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button'].primary:hover {
          background: none;
          color: #2EB418; }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button'].secondary {
        background: #2C304D;
        color: #ffffff;
        border: 2px solid #2C304D; }
        .main-scroll-container-shadow[data-skin='skin2'] .main-container .gp-box input[type='button'].secondary:hover {
          background: none;
          color: #2C304D; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container input[type='text'],
    .main-scroll-container-shadow[data-skin='skin2'] .main-container select {
      float: left;
      width: 100%;
      font-family: OpenSans_Regular, sans-serif;
      font-size: 1em;
      line-height: 24px;
      height: 24px;
      background: none;
      border: 1px solid #aaaaaa;
      padding: 0 10px;
      color: #333333;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); }
      @media screen and (max-width: 399px) {
        .main-scroll-container-shadow[data-skin='skin2'] .main-container input[type='text'],
        .main-scroll-container-shadow[data-skin='skin2'] .main-container select {
          line-height: 35px;
          height: 35px; } }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container input[type='text']:focus,
      .main-scroll-container-shadow[data-skin='skin2'] .main-container select:focus {
        outline: none;
        -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
        box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15); }
      .main-scroll-container-shadow[data-skin='skin2'] .main-container input[type='text'] option,
      .main-scroll-container-shadow[data-skin='skin2'] .main-container select option {
        background-color: #e6e6e6; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .readonly-input,
    .main-scroll-container-shadow[data-skin='skin2'] .main-container input[type="text"]:disabled {
      float: left !important;
      width: 100% !important;
      font-size: 1em !important;
      line-height: 24px !important;
      height: 24px !important;
      margin: 0 !important;
      padding: 0 10px !important;
      border: none;
      font-family: OpenSans_Regular, sans-serif !important;
      color: #666666 !important;
      background: #dddddd !important; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .col-2 {
      width: 50%;
      float: left; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .col-2-gutter {
      float: left;
      width: 45%; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .col-2-gutter + .col-2-gutter {
      float: left;
      margin-left: 10%;
      width: 45%; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .col-2-gutter-small {
      float: left;
      width: 48%; }
    .main-scroll-container-shadow[data-skin='skin2'] .main-container .col-2-gutter-small + .col-2-gutter-small {
      float: left;
      margin-left: 4%;
      width: 48%; }
  .main-scroll-container-shadow[data-skin='skin2'] div.content section {
    width: 100%;
    float: left;
    margin-bottom: 2em; }
    .main-scroll-container-shadow[data-skin='skin2'] div.content section h3 {
      font-size: 1.8em;
      color: #2C304D;
      margin: 1.5em 0 0.5em 0;
      padding-bottom: 5px;
      border-bottom: 0px solid #aaaaaa;
      font-family: OpenSans_Bold, sans-serif; }
    .main-scroll-container-shadow[data-skin='skin2'] div.content section p {
      width: 100%;
      float: left;
      margin-bottom: 1em;
      color: #2C304D;
      font-family: OpenSans_Regular, sans-serif;
      text-align: justify; }
  .main-scroll-container-shadow[data-skin='skin2'] input[type="radio"][data-selector="paytabs"] {
    position: absolute;
    top: -9999px;
    left: -9999px; }
    .main-scroll-container-shadow[data-skin='skin2'] input[type="radio"][data-selector="paytabs"]:checked + label {
      border-color: #2C304D; }
  .main-scroll-container-shadow[data-skin='skin2'] label[data-tab] {
    font-family: Frutiger_CE_65_Bold, sans-serif;
    font-size: 1em;
    color: #666666;
    padding: 5px 0;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    border-bottom: 5px solid #dddddd;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */ }
  .main-scroll-container-shadow[data-skin='skin2'] .tab-content {
    margin-top: 5px;
    width: 100%;
    float: left; }
  .main-scroll-container-shadow[data-skin='skin2'].validated input[type='text']:not(.optional):not([disabled]), .main-scroll-container-shadow[data-skin='skin2'].validated select.canbe-invalid {
    border: 1px solid #ff6448;
    padding-right: 12px; }
  .main-scroll-container-shadow[data-skin='skin2'] div.content section p.validation-text {
    display: none;
    color: #ff6448;
    font-family: OpenSans_Regular, sans-serif;
    font-size: 12px; }
    .main-scroll-container-shadow[data-skin='skin2'] div.content section p.validation-text:last-of-type {
      margin-bottom: 15px; }
  .main-scroll-container-shadow[data-skin='skin2'].validated div.content section p.validation-text {
    display: initial !important;
    margin-bottom: 0.5em; }
    .main-scroll-container-shadow[data-skin='skin2'].validated div.content section p.validation-text:last-of-type {
      margin-bottom: 1.5em; }
  .main-scroll-container-shadow[data-skin='skin2'].validated div.content section.section-readonly p.validation-text {
    display: none !important; }
  .main-scroll-container-shadow[data-skin='skin2'] .gp-box.checkbox a {
    text-decoration: none;
    font-family: OpenSans_Bold, sans-serif; }
    .main-scroll-container-shadow[data-skin='skin2'] .gp-box.checkbox a:hover {
      text-decoration: underline; }
  .main-scroll-container-shadow[data-skin='skin2'] .gp-box.checkbox input ~ label {
    display: block;
    position: relative;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    padding: 0 0 0 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer; }
    .main-scroll-container-shadow[data-skin='skin2'] .gp-box.checkbox input ~ label:after {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 2px;
      text-align: left;
      width: 16px;
      height: 16px;
      content: '';
      background: #ddd;
      -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
      -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
      border-radius: 2.5px 2.5px 2.5px 2.5px; }
  .main-scroll-container-shadow[data-skin='skin2'] .gp-box.checkbox input:checked ~ label:after {
    background-position: 50% 50%;
    color: white;
    cursor: pointer;
    display: block;
    content: '';
    background: #666666 url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2214%2C4%2011%2C1%205.003%2C6.997%203%2C5%200%2C8%204.966%2C13%204.983%2C12.982%205%2C13%20%22%2F%3E%3C%2Fsvg%3E") no-repeat scroll 50% 50%;
    -moz-border-radius: 2.5px 2.5px 2.5px 2.5px;
    -webkit-border-radius: 2.5px 2.5px 2.5px 2.5px;
    border-radius: 2.5px 2.5px 2.5px 2.5px; }
  .main-scroll-container-shadow[data-skin='skin2'] .gp-box-checkout {
    width: 100%;
    margin-bottom: 5px; }
    .main-scroll-container-shadow[data-skin='skin2'] .gp-box-checkout + hr {
      border: none;
      width: 100%;
      float: right;
      border-top: 1px dashed #2C304D; }
  .main-scroll-container-shadow[data-skin='skin2'] div.product {
    line-height: 1.4em;
    width: 70%;
    float: left; }
  .main-scroll-container-shadow[data-skin='skin2'] div.product + div.price {
    line-height: 1.4em;
    width: 30%;
    float: right;
    text-align: right;
    font-family: Frutiger_LT_75_Black, sans-serif; }
  .main-scroll-container-shadow[data-skin='skin2'] .gp-box-checkout div.total {
    float: right;
    width: 100%;
    line-height: 2em;
    text-align: right;
    font-family: Frutiger_LT_75_Black, sans-serif; }
  .main-scroll-container-shadow[data-skin='skin2'] .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background: #ffffff;
    border: 1px solid #2C304D;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
    right: 0;
    width: 8px; }
  .main-scroll-container-shadow[data-skin='skin2'] .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
    background-color: #2C304D; }

/* -------------------------------------------------------------------------------------------------------------*/
/* --------------------------------------------	        	Utils	     	------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------*/
body .emptyLine {
  clear: both !important;
  width: 100% !important; }
body .mTop5px {
  margin-top: 5px !important; }
body .mTop10px {
  margin-top: 10px !important; }
body .mTop15px {
  margin-top: 15px !important; }
body .mTop20px {
  margin-top: 20px !important; }
body .mTop25px {
  margin-top: 25px !important; }
body .mTop30px {
  margin-top: 30px !important; }
body .mTop50px {
  margin-top: 50px !important; }
body .mTop70px {
  margin-top: 70px !important; }
body .mTop100px {
  margin-top: 100px !important; }
body .mTop130px {
  margin-top: 130px !important; }
body .mBot0px {
  margin-bottom: 0px !important; }
body .mBot5px {
  margin-bottom: 5px !important; }
body .mBot10px {
  margin-bottom: 10px !important; }
body .mBot15px {
  margin-bottom: 15px !important; }
body .mBot20px {
  margin-bottom: 20px !important; }
body .mBot25px {
  margin-bottom: 25px !important; }
body .mBot30px {
  margin-bottom: 30px !important; }
body .mBot40px {
  margin-bottom: 40px !important; }
body .mBot50px {
  margin-bottom: 50px !important; }
body .mBot140px {
  margin-bottom: 110px !important; }
body .mR30px {
  margin-right: 30px !important; }
body .paddingLR {
  padding: 0 15px !important; }
body .floatR {
  float: right !important; }
body .floatL {
  float: left !important; }
body .floatN {
  float: none !important; }
body .clearB {
  clear: both !important; }
body .clearR {
  clear: right !important; }
body .clearL {
  clear: left !important; }
body .hidden {
  display: none !important; }
body .no-margin {
  margin: 0 !important; }
body .no-padding {
  padding: 0 !important; }
body .w100 {
  width: 100% !important; }

.clearfix:after {
  content: " " !important;
  visibility: hidden !important;
  display: block !important;
  height: 0 !important;
  clear: both !important;
  width: 100% !important; }

.hidden {
  display: none !important; }

/*# sourceMappingURL=Bundeled.css.map */
