@use 'variables' as *;

section#Contact > div{
	background-image: url($Contact);
	background-size:contain;
	background-repeat: no-repeat;
	background-position:top right;
	

	iframe{
		position:relative; 
		width:100%;
		height:100%; 
		border:none;
		box-shadow: rgba(5, 5, 5, 0.2) -4px 4px 10px 2px;
	}


	.card-container{
		
		left: 120px; 
		transform: rotate(-7deg);

		.bussiness-card{
			padding:0; 
			box-shadow: rgba(5, 5, 5, 0.2) -4px 4px 10px 2px;
			box-shadow: rgb(103 103 103 / 10%) -4px 4px 10px 2px
		}
		
	}

	@media (max-width: 1600px) { 

		.card-container{
			transform: scale(0.8) rotate(-7deg) !important;
			left: 240px; 
		}
	}
}
