@use 'variables' as *;

section#zoom-iframe > div 

{
	background: #dfdfdf !important;	
	background-size:cover;
	background-position:center center;	
	transition: background-image 180ms ease-in-out;

	.background-image{
		position: relative;
		height: 100%;
		width: calc(100% - 400px);
		left: 400px;	
		background-size:cover;
		background-position:center center;	
		transition: background-image 180ms ease-in-out;
	}
	.background-image.zoom-payload-bk2 { background-image: url('../img/backgrounds/bk2.jpg') !important; background-position:center center;}
	.background-image.zoom-payload-bk4 { background-image: url('../img/backgrounds/bk4.jpg') !important; }
	.background-image.zoom-payload-bk5 { background-image: url('../img/backgrounds/bk5.jpg') !important; }
	.background-image.zoom-payload-bk6 { background-image: url('../img/backgrounds/bk6.jpg') !important; }
	.background-image.zoom-payload-bk7 { background-image: url('../img/backgrounds/bk7.jpg') !important; }
	.background-image.zoom-payload-bk9 { background-image: url('../img/backgrounds/bk9.jpg') !important; }
	.background-image.zoom-payload-bk10 { background-image: url('../img/backgrounds/bk10.jpg') !important; }
	.background-image.zoom-payload-bk11 { background-image: url('../img/backgrounds/bk11.jpg') !important; }
	.background-image.zoom-payload-bk12 { background-image: url('../img/backgrounds/bk12.jpg') !important; }
	.background-image.zoom-payload-bk14 { background-image: url('../img/backgrounds/bk14.jpg') !important; }
	.background-image.zoom-payload-bk15 { background-image: url('../img/backgrounds/bk15.jpg') !important; }
	.background-image.zoom-payload-bk28 { background-image: url('../img/backgrounds/bk28.jpg') !important; }


	.device-view{
		position: absolute;
		width: 60vw;
		top:6vh;
		right:10vw;
		height: calc(80vh - 50px);
		background: rgb(255, 255, 255);
		border-radius:30px;
		overflow:hidden;
		padding: 30px;
		// border: 2px solid #d7d7d7;
		box-shadow: 0px 2px 6px 2px #c9c9c9;
		transform: rotate(-1.5deg);

		iframe {
			position: relative;
			width: 100%;
			height: 100%;
			border: 0;
			border-radius:10px;
			border: 2px solid #d7d7d7;
		}
	}



    iframe {
			position: relative;
			width: 100%;
			height: 100%;
			border: 0;
		}

	.info-box {
		background-color: #fff;
		border: none;
		text-shadow: none;
		width: 330px;
		max-width: unset;
		height: calc(100vh - 50px);
		top: 0;
		left: 0;
		box-shadow: 3px 5px rgba(0, 0, 0, 0.3294117647);
	}

	@media (max-height: 900px) { 
		.device-view{ top:6vh; height: calc(90vh - 50px);}
	}

}
