@use 'variables' as *;

section#Intro > div{
	background-color: #2b334f;
	background-image: url($Intro);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:bottom center;
	position: relative;
}

section#Intro .intro-content {
	position: relative;
	z-index: 2;
}

section#Intro .intro-accent-separator {
	display: inline-block;
	transition: transform 90ms ease-out;
	transform: rotate(0deg);
	transform-origin: center center;
	will-change: transform;
}
.text-portfolio{
	opacity: 0.7;
}


.section-lead{    
	opacity: 0.8;
	&.text-shadow{
		text-shadow: 0px 0px 4px #000000;
	}

	.subtitle-divider{
		display:none;
		color:rgb(211, 211, 211);
		padding:0 3px;
	}

	.subtitle-slash{
		// display:none;
			color: #fff27f;
			margin-left:10px;
			margin-right:2px;
	}
}

.svg-background-arrow{
	width:100%;
	height:100%;
	position:absolute;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg transform='rotate(180 800 400)'%3E%3Cpolygon fill='%231c1c1c' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23383838' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23545454' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23717171' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%238d8d8d' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23a9a9a9' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23C5C5C5' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.svg-background-lines{
	width:100%;
	height:100%;
	position:absolute;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23222222' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23444444' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23666666' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23888888' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23AAAAAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}

.noise {
	width:100%;
	height:100%;
	position:absolute;
  /* ... */
  background:
    linear-gradient(to right, blue, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
	
	mix-blend-mode: multiply;
}

