
$Intro: "../img/preload/intro.jpg";
$Skills: "../img/preload/skills.jpg";


$Project-Advisor-01 : "../img/preload/advisor/01-overview.jpg";
$Project-Advisor-02 : "../img/preload/advisor/02-case-management.jpg";
$Project-Advisor-03 : "../img/preload/advisor/03-customers.jpg";
$Project-Advisor-04 : "../img/preload/advisor/04-checklists.jpg";
$Project-Advisor-05 : "../img/preload/advisor/05-kyc.jpg";

$Project-Advisor-06 : "../img/preload/advisor/06-contacts.jpg";
$Project-Advisor-07 : "../img/preload/advisor/07-time-registration.jpg";
$Project-Advisor-08 : "../img/preload/advisor/08-outlays.jpg";
$Project-Advisor-09 : "../img/preload/advisor/09-invoicing.jpg";
$Project-Advisor-10 : "../img/preload/advisor/10-resource-planning.jpg";

$Project-Advisor-11 : "../img/preload/advisor/11-reports.jpg";
$Project-Advisor-12 : "../img/preload/advisor/12-settings.jpg";
$Project-Advisor-13 : "../img/preload/advisor/13-settings-2.jpg";

$Project-Advisor-ncw-00 : "../img/preload/advisor/ncw-00.jpg";
$Project-Advisor-ncw-01 : "../img/preload/advisor/ncw-01.jpg";
$Project-Advisor-ncw-02 : "../img/preload/advisor/ncw-02.jpg";
$Project-Advisor-ncw-03 : "../img/preload/advisor/ncw-03.jpg";
$Project-Advisor-ncw-04 : "../img/preload/advisor/ncw-04.jpg";
$Project-Advisor-ncw-05 : "../img/preload/advisor/ncw-05.jpg";

$Project-Advisor-laptop-mask : "../img/preload/advisor/oldies/laptop-mask.png";
$Project-Advisor-oldies-01 : "../img/preload/advisor/oldies/01-old.jpg";
$Project-Advisor-oldies-02 : "../img/preload/advisor/oldies/02-old.jpg";
$Project-Advisor-oldies-03 : "../img/preload/advisor/oldies/03-old.jpg";
$Project-Advisor-oldies-04 : "../img/preload/advisor/oldies/04-old.jpg";
$Project-Advisor-oldies-05 : "../img/preload/advisor/oldies/05-old.jpg";
$Project-Advisor-oldies-06 : "../img/preload/advisor/oldies/06-old.jpg";
$Project-Advisor-oldies-07 : "../img/preload/advisor/oldies/07-old.jpg";
$Project-Advisor-oldies-08 : "../img/preload/advisor/oldies/08-old-new.jpg";
$Project-Advisor-oldies-09 : "../img/preload/advisor/oldies/09-old-new.jpg";


$Project-case-deschise : "../img/preload/case-deschise.jpg";

$Project-Foocall : "../img/preload/Foocall.jpg";
$Project-Configurator : "../img/preload/Configurator.jpg";
$Project-4in1 : "../img/preload/4in1.jpg";
$Project-Ghost : "../img/preload/Ghost.jpg";
$Project-MultiDevice : "../img/preload/MultiDevice.jpg";
$Project-Checkout : "../img/preload/checkout.jpg";
//$Project-3Roi : "../img/preload/3Roi.jpg";
//$Project-Vodafone : "../img/preload/Vodafone.jpg";
//$Project-Archdaily : "../img/preload/archdaily.jpg";
$Demo-Optimize : "../img/preload/optimize.jpg";
$Demo-Clasa-0 : "../img/preload/clasa-0.jpg";
$Demo-Radio : "../img/preload/radio.jpg";
$Demo-Architecture : "../img/preload/architecture.jpg";

$Project-Advisor-bk : "../img/preload/grad.jpg";

$Contact : "../img/preload/contact.jpg";
