    <!-- INTRO Section -->
    <section id="Intro" class="cd-section visible">
        <div class="vertical-align">
                <div class="col-md-12" style="color:#fff; ">
                    
                        <h1 class="section-heading center-text text-shadow-light font-poppins neon-text-flicker-disabled" style="font-size:70px">Țurcanu Răzvan | Portfolio</h1>
                        <p class="lead section-lead center-text text-shadow-disabled font-poppins neon-text-disabled">small collage of projects, concepts, and interactive experiments</p>
                    
                </div>

        </div>
    </section>