    <!-- INTRO Section -->
    <section id="Intro" class="cd-section visible">
        
        <div class="vertical-align">

                <video autoplay muted loop playsinline 
                        style="position:absolute;
                        top:0;left:0;
                        width:100%;height:100%;
                        object-fit:cover;z-index:0;
                        pointer-events:none;
                        filter:grayscale(1);
                        /* opacity:0.5; */
                        mix-blend-mode: difference;">
                        <source src="img/preload/static.webm" type="video/webm">
                </video>

                <div class="col-md-12" style="color:#fff; ">
                    
                        <h1 class="section-heading center-text text-shadow-light font-poppins neon-text-flicker-disabled" style="font-size:70px"><span>Țurcanu Răzvan</span> <span style="color:yellow">|</span> <span>Portfolio</span></h1>
                        <p class="lead section-lead center-text text-shadow-disabled font-poppins neon-text-disabled">small collage of projects, concepts, and interactive experiments</p>
                    
                </div>
                
        </div>
    </section>