    <!-- Navigation -->

    <span id="not-mobile">  </span>

    <div class="cursor"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top font-poppins" role="navigation">
        
        <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-container">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="logo" onclick="location.reload();" style="cursor:pointer"></span>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav-container">
                <ul class="nav navbar-nav" >
                        <li class="link active"><a href="#" >Hi!</a>  </li>
                        <!-- <li class="link"><a href="#">My skills</a></li> -->
                        <li class="link"><a href="#">tools</a>    </li>
                                
                        <li class="link">      <a href="#">projects :</a>    </li>
                        <li class="link small-child-projects click-on-load">    <a href="#">1</a></li>
                        <li class="link small-child-projects">    <a href="#">2</a></li>
                        <li class="link small-child-projects">    <a href="#">3</a></li>

                        <li class="link " ><a href="#">Experiments :</a>    </li>
                        <!-- <li class="link " ><a href="#">AI assisted :</a>    </li> -->
                        <li class="link small-child-projects">    <a href="#">1</a></li>
                        <li class="link small-child-projects">    <a href="#">2</a></li>
                        <li class="link small-child-projects">    <a href="#">3</a></li>

                        
                        <li class="link " ><a href="#">Legacy :</a>    </li>
                        <li class="link small-child-projects">    <a href="#">1</a></li>
                        <li class="link small-child-projects">    <a href="#">2</a></li>
                        <li class="link small-child-projects">    <a href="#">3</a></li>
                
                        <!-- <li class="link"><a href="#">My Resume</a>  </li> -->
                        <li class="link"><a href="#">Contact</a>  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- <nav>
        <ul class="cd-vertical-nav">
            <li><a href="#" class="cd-prev">Next</a></li>
            <li><a href="#" class="cd-next">Prev</a></li>
        </ul>
    </nav> -->