    <section id="Project-4in1" class="cd-section">
        <div>
            <div class="info-box info-box-shadow" style="max-width: unset">
                <span class="year">[2015]</span> <span style="color:#0099ca">Design concept</span> for <span style="color:#DF629C  ">micro-payment </span> product <br><br>   
                    - <span style="color:#DF629C">standardizes</span> product structure accross devices and clients<br>
                    - <span style="color:#0099ca">client branding</span> is handled with background media<br>
                    - notable clients: O2 Germany, Tesco, 3Roi, FooCall UK
            </div>
        </div>
    </section>