    <section id="Project-case-deschise" class="cd-section">
        
        <div>
            <div class="image-container vertical-align" > 
                <!-- <div style="height:50px; width:350px;"><a target="_blank" href="https://casedeschise.ro/" class="cta-btn">www.casedeschise.ro</a></div> -->
                <!-- <a style="font-size: 2.4rem; margin: 10px 0 30px 27px !important; color:#fff; display: inline-block; outline: none;" href="https://casedeschise.ro/" target="_blank"><strong><code>www.casedeschise.ro</code></strong></a> -->
            </div>
            
            
            <div class="info-box info-box-fixed info-box-black markdown-body markdown-body-black scrollable-container scroll-black" style="box-shadow:none; border-right:2px solid #b1b1b1;">
                <div class="scroll-container" style="padding: 20px;"> 
                    <div class="qr-code"> </div>
                    <section>
                        <a style="font-size: 2.4rem; margin: 10px 0 30px 27px !important; color:#fff; display: inline-block; outline: none;" href="https://casedeschise.ro/" target="_blank"><strong><code>www.casedeschise.ro</code></strong></a>
                        <ul>
                            <li>website for annual 'open house' event, in collaboration with local architects guild 'OAR'</li>
                            <li>twin events in cities Sibiu and Valcea</li>
                        </ul>
                    </section>

                    <section>
                        <strong><code>Stack</code> : </strong>
                        <code>react</code>
                        <code>next.js</code>
                        <code>sanity</code>
                        <code>webhooks</code>
                        <code>google maps</code>
                        <code>resend</code>
                        <code>umami</code>
                        <code>vscode</code>
                        <code>github actions</code>
                        <code>vercel</code>
                    </section>
                    <br>
                    <section>
                    
                        <ul>
                            <li>registration for each location : build-in form + email QR (Resend) + built-in QR validator</li>
                            <li style="margin-bottom:30px">reports via dashbord in Sanity</li>

                            <li>organizers handle content in Sanity</li>
                            <li>heavy media content: architectural photography</li>
                            <li>focus on performance and optimization (uses sanity free plan)</li>
                            <li>strenuous usage for 1-2 month around the event date</li>
                            <li style="margin-bottom:30px">aggresive caching sanity queries - webhooks, revalidate, next cache</li>

                            <!-- <li>responsive, customizable via Sanity CMS: listings, registration forms, map view, manage registrations</li> -->
                            <!-- <li>built with next.js, GitHub, Vercel deployment and hosting</li> -->

                            <li>analytics tracked via Umami</li>
                            <li>map views with google maps api</li>
                            
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </section>