    <section id="Project-Configurator" class="cd-section">
        <div >
            <div class="info-box" style="max-width: unset;"> 
                <span class="year">[2015]</span> Internal tool for managing <span style="color:#0099ca">team roadmap</span><br><br>
                
                - breakdown of <span style="color:#DF629C">effort and time estimates</span><br>
                - ques projects acording to resurce availability. <br>
                - <span style="color:#0099ca">interactive timeline</span> with scheduled projects. <br>
                - mobile-first, <span style="color:#DF629C">responsive design</span>, .NET, jQuery, Bootstrap
            </div>  

        </div>
    </section>