    <section id="Project-MultiDevice" class="cd-section">
        <div>
            <div class="info-box info-box-shadow"> First implementation of previous concept. <span style="color:#0099ca">Mobile optimised </span> <span style="color:#DF629C">payment service </span> for <span style="color:#0099ca">O2 Germany</span>, merging the customer <span style="color:#0099ca">desktop</span> and <span style="color:#0099ca">mobile</span> experiences. This also greatly improves the dev and test experience. O2 supports <span style="color:#DF629C">IE7</span> and service is also available in <span style="color:#DF629C">german</span>. Fun stuff!</div>  
        </div>
    </section>