    <section id="Projects" class="cd-section">
        <div class="vertical-align">  
                    <div class="custom-cursor">
                        <h1 class="section-heading center-text font-160">
                            projects
                            <!-- <span class="accent-bar">|</span> -->
                        </h1>
                        <p class="lead section-lead center-text position-relative" style="top: -30px; left: 149px;">production real-world work</p>
                    </div>
        </div>
            
    </section>