    <section id="MipayAdmin" class="cd-section">
        <div class="parent">
            <!--<div class="window">
                <div class="gif"> </div>-->

            <video loop muted controls class="">
                <source src="img/preload/admin.mp4" type="video/mp4" />
            </video>

            <div class="info-box">
                <span style="color:#DF629C">Mi-Pay Service Desk</span> and <span style="color:#0099ca">Mi-Pay clients</span> (like Vodafone,12Telecom, O2) use this administration dashboard to browse and keep track of their custumers, orders and transactions.<br><br>
                    Rejuvenating this piece of software was quite a challange as both UI and backend services were simultaneously overhauled using the previously uncharted <span style="color:#0099ca">.NET Core</span> + <span style="color:#DF629C">Angular 2</span> stack.
                    Linked below is the wireframe with the <span style="color:#0099ca">initial design</span> for this dashboard.<br><br>

                    Front-end highlights:<br>
                    - complex permissions for each clients set of users<br>
                    - <span style="color:#DF629C">live search </span> and <span style="color:#0099ca">live filter</span> database entries<br>
                    - <span style="color:#0099ca">filter state persists</span> via query string, making state-sharing by url posible between users. This also allows for reliable back/forward browser navigation <br>


                    <a target="_blank" href="https://invis.io/9FB6ZAPQG#/227279816_Intro_Screen" class="cta-btn inside-info-box">
                        View Project Wireframe
                    </a>
</div>

    </section>