    <section id="MipayAdmin" class="cd-section">
        <div class="parent">
            <!--<div class="window">
                <div class="gif"> </div>-->

            <video loop muted controls class="">
                <source src="img/preload/admin.mp4" type="video/mp4" />
            </video>

            <div class="info-box info-box-shadow" style="max-width: unset;">
                <span class="year">[2017]</span> Admin dashboard (fraud screening)<br><br>
                - tracks custumers, orders and transactions <br>

                - SPA: <span style="color:#0099ca">.NET Core</span> + <span style="color:#DF629C">Angular 2</span><br>
                - <span style="color:#DF629C">live search </span> and <span style="color:#0099ca">live filter</span> database entries<br>
                - <span style="color:#0099ca">filter state persists</span> via query string<br>
                - <span style="color:#DF629C">share state by url</span> is useful for investigating customer cases<br>
                - client-scoped <span style="color:#0099ca">access control</span> for users<br>
</div>

    </section>