    <section id="Project-4in1" class="cd-section">
        <div >
            <div class="info-box">Design concept for <span style="color:#0099ca  ">skinable, cross-device</span> <span style="color:#DF629C  ">payment product</span>   This is part of an effort to <span style="color:#DF629C  ">standardize</span> company products and make life easier for the dev/test team while allowing room for <span style="color:#0099ca">customization</span> for the clients. The following projects for O2 Germany and FooCall UK are based on this design</div>

        </div>
    </section>