    <section id="Project-White" class="cd-section">
        <div>
            <video loop muted autoplay class=""><source src="img/preload/fnt.mp4" type="video/mp4" /> </video>

            <div class="info-box info-box-shadow" style="max-width:unset">
                <span class="year">[2016]</span> Implementation example of <span style="color:#DF629C">previous concept</span><br><br>
 
                - <span style="color:#DF629C">custom SPA</span> implementation with jQuery and .NET MVC<br>
                - standard UI stucture + <span style="color:#0099ca">client design guide</span><br>
                - responsive, mobile-first, cross-browser
            </div> 
        </div>


    </section>