    <section id="Advisor" class="cd-section ">
        <div>
            <video autoplay muted loop playsinline 
                        style="position:absolute;
                        top:0;left:0;
                        width:100%;height:100%;
                        object-fit:cover;z-index:0;
                        pointer-events:none;
                        filter:grayscale(1);
                        /* opacity:0.5; */
                        mix-blend-mode: difference;">
                        <source src="img/preload/static.webm" type="video/webm">
                </video>

            <div class="screens">
                <div class="screen s1"> <div class="screen-wrap"> <div class="browser-bar" style="border-bottom: 1px solid #e5e5e5; filter: brightness(0.8);"> </div> <div class="advisor-image sidenav-menus-new"  data-loop-img="13" data-loop-duration="400" data-img='1'> </div> </div> </div>
                <div class="screen s2"> <div class="screen-wrap"> <div class="browser-bar"> </div> <div class="advisor-image ncw"  data-loop-img="6" data-loop-duration="330" data-img='1'> </div> </div> </div>
                <div class="screen s3"> <div class="screen-wrap"> <div class="browser-bar"> </div> <div class="advisor-image sidenav-menus"  data-loop-img="13" data-loop-duration="130" data-img='10'> </div></div></div>
                
                <div class="laptop-screen s4" data-loop-img="9" data-loop-duration="130" data-img='1'> 
                    <div class="screen-wrap">
                        <div class="old-advisor-image" > </div> 
                        <div class="laptop-mask"> </div>
                    </div>
                </div>
            </div>

            <div class="info-box info-box-fixed info-box-white markdown-body scrollable-container scroll-white">
                <div class="scroll-container"> 
                    <section>
                        <span class="project-title mt-30 mb-20 font-24 float-left w-100 " style="width:100%"><strong><code>Accounting Office Management Studio</code></strong></span>
                        <p>
                            Saas for nordic accounting firms and their clients. (8k firms - 40k active users)<br>
                            My role involved long-standing contribution to the product development, with focus on advancing the UI system.
                            Close collaboration with design-system teams to bridge design intent and technical implementation.
                            
                            <!-- <strong><code>Features</code> > </strong> client management, invoicing, reporting, task management,
                            document management, user management, notifications, settings. -->
                    </section>

                    <section>
                        <p>
                            <strong><code>UI system</code> : </strong>
                            <code>KendoUI</code> + <code>.NET MVC</code> + <code>custom SPA</code> + <code>VUD</code>
                        </p>
                        <ul>
                            <li>
                                <strong><code>KendoUI</code> : </strong>
                            base components are styled using the VUD design system and extended with significant custom behavior. 
                            </li>

                            <li><strong><code>VUD</code> : </strong> Visma Unified Design, token based, frequent updates.</li>

                            <li>
                                <strong><code>custom SPA framework</code></strong> over <code>.NET MVC</code> and <code>KendoUI</code> also integrating <code>VUD</code> design system.
                                Only possible after a full refactor of UI code
                            </li>

                            
                        </ul>
                    </section>

                    <section class="mt-30">
                        <strong><code>Notable features</code> : </strong>
                        <ul>
                            <li>8000+ accounting firms - 40k active users</li>
                            <li>complex UI with dense functionality</li>
                            <li>multi-step flows with branching logic (reversible wizard)</li>
                            <li>configurable <code>dashboards</code> (resizable, draggable, lazy-loading)</li>
                            <li><code>dynamic grids</code> (configurable columns, resize, reorder, persistent filtering, endless scroll, expandable rows)</li>
                            <li>intricate <code>combobox</code> inputs: persistent states, chained async loading, segmented with infinite scroll, inline add, multi-select, auto-filled values</li>  
                            <!-- <li>async chained inputs (ex: office > customer > task > activity)</li> -->
                            <li>long running tasks send live updates via <code>signalR</code></li>
                            <li>rigorous <code>validation</code> : client + server</li>
                            <li>occasional <code>keyboard</code> focused flows</li>
                        </ul>
                    </section>

                    <section class="mt-30">
                        <strong><code>Challenges</code> : </strong>
                        <ul>
                            <li>difficult to evolve inherited code: ad-hoc implementations, inconsistent patterns, un-documented logic, significant scale</li>
                            <!-- <li>improving <code>structure</code> and <code>consistency</code> and handling frequent <code>VUD</code> updates.</li> -->
                            <li>implement <code>refactoring</code> strategies with version control, eventually covering all UI</li>
                            <li>enforce consistency and constraints</li>
                            <li>large data sets require optimizing for <code>performance</code> : async dropdowns, segmented with endless-scroll, server-side filtering</li>

                            <li>bridge design intent and technical implementation</li>
                            <li>push back when UX is technically flawed and propose alternatives that scale</li>
                            

                        </ul>
                    </section>

                <br/>

                <section class="stack-section" style="padding-bottom:20px">
                        <strong><code>Stack</code> : </strong>
                        <code>git</code>
                        <code>.NET</code>
                        <code>vscode</code>
                        <code>jQuery</code>
                        <code>kendo ui</code>
                        <code>figma</code>
                        <code>snowplow</code>
                        <code>cypress</code>
                        <code>signalR</code>
                    </section>
	            </div>
            </div>
        </div>
    </section>