    <section id="Project-Checkout" class="cd-section ">
        <div>
            <div class="info-box" style="font-size:15px;">
                <span style="color:#DF629C">Wireframes</span> and <span style="color:#0099ca">mockups</span>  are great for <span style="color:#0099ca">comunicating functionality</span> and <span style="color:#DF629C">look-and-feel</span> to both technical and non-technical players.<br><br>
                Check out a work sample for an <span style="color:#0099ca"> Online Checkout Process</span> made with
                <span style="color:#DF629C">Balsamiq</span>,
                <span style="color:#0099ca">Photoshop</span> and
                <span style="color:#DF629C">Invision</span>
                <a target="_blank" href="https://projects.invisionapp.com/share/KRFFRYT6NTG#/screens/133697655_Your_Items" class="cta-btn inside-info-box">
                    Checkout Concept
                </a>
            </div>
        </div>
    </section>