    <section id="Project-White" class="cd-section">
        <div>
            <video loop muted autoplay class="">
                <source src="img/preload/fnt.mp4" type="video/mp4" />
            </video>

            <div class="info-box" style="max-width:300px">
                Third implementation of previous concept : This time the payment app finally got converted to an actual <span style="color:#DF629C">single-page website</span> using <a href="http://sammyjs.org/" target="_blank" style="color:#0099ca">sammy.js</a>.

                This allowed for faster server-browser communication and a smoother user exoperience.<br><br>
                Integrate this concept into an iframe and you get an instant
                <span style="color:#0099ca">android/ios app !</span>
                - this client did just that, picking up an
                <span style="color:#DF629C">website</span> and a <span style="color:#0099ca">
                    cross-platform mobile app
                </span> wich can be painlessly maintained on our side.<br><br>

                View a comprehensive presentation of this product below. These wireframes are still used for
                <span style="color:#0099ca">marketing this product</span>,
                <span style="color:#0099ca">comunication with clients</span> and
                <span style="color:#DF629C">development pourposes</span>.
                    <a target="_blank" href="https://invis.io/ZP77496MH#/152542811_Intro--Comments-" class="cta-btn inside-info-box">
                        View Project Wireframe
                    </a>
</div>
        </div>


    </section>