    <section id="Project-Configurator" class="cd-section">
        <div >
            <div class="info-box"> <span style="color:#0099ca">Mobile optimised</span>, internal tool for managing company projects. Provides a rough breakdown of <span style="color:#DF629C">effort and time estimates</span> and cues projects acording to resurce availability. Main admin screen features an <span style="color:#DF629C">interactive roadmap</span> with scheduled projects. One of the more interesting projects I have been involved in.</div>  

        </div>
    </section>