    <!-- Resume Section -->
    <section id="Resume" class="cd-section">

            <div class="vertical-align" style="background:transparent !important">
            <div class="container" style="">
                
                    <div class="col-lg-6 col-lg-offset-3 mBot30px" style="">

                            <a href="img/docs/[TurcanuRazvan]-Resume.pdf" target="_blank" class="col-md-6 pdf-box">
                                <div class="col-xl-12" style="padding:15px 0">
                                    <img class="img-responsive center-block " data-src="img/preload/pdf.png" alt="">
                                    <h3 class="section-heading c-text text-shadow-soft" style="font-size:18px">Resume.pdf</h3>
                                </div>
                            </a>

                            <a href="img/docs/[TurcanuRazvan]-Recommendations.pdf" target="_blank" class="col-md-6 pdf-box">
                                <div class="col-xl-12" style="padding:15px 0">
                                        <img class="img-responsive center-block" data-src="img/preload/pdf.png" alt="">
                                        <h3 class="section-heading c-text text-shadow-soft" style="font-size:18px">Recomandations.pdf</h3>     
                                </div>
                            </a>

                    </div>
            </div>
        </div>
    </section>